@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">About</h1>
    <ol style="text-align:left">
        <li>The system will have <b>4 tabs/links</b> (Login, Register, Courses and Manage).</li>
        <li>A student can register by email and password.</li>
        <li>A student can log into the system.</li>
        <li>A student can see a list of available courses to which he/she can register. If the user trying to register to a course he is already registered an error message will appear as a popup/modal dialog.</li>
        <li>A student can see a list of his/her courses (the courses he/she is register).</li>
        <li>Two lists of courses - <b>registered and not registered ones</b> should be on the same page.</li>
        <li>On the <b>"Manage"</b> link the student is allowed to add/edit/delete courses (to prevent more complexity no need for the student to have an administrator privileges).</li>
    </ol>
</div>
