@using Microsoft.AspNetCore.Identity
@using UniversityManagerApp.Models
@inject SignInManager<Student> SignInManager
@model UniversityManagerApp.Models.CoursesViewModel

@{
    ViewData["Title"] = "Courses";
}

<h3>Choose from our courses</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                About to begin
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AllCourses) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                <a asp-action="Enroll" asp-route-id="@item.CourseID">Enroll</a>
            </td>
        </tr>
}
    </tbody>
</table>

<br />

@if (SignInManager.IsSignedIn(User))
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Your courses
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.StudentCourses)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseName)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
